.container {
  position: relative;
}
.container__docker {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  align-items: center;
  display: flex;
  justify-content: center;
}
